/.pybuild/
/.pythonpath/
/*/.tox/
__pycache__/
*.egg-info/
/debian/*.substvars
/debian/*.debhelper
/debian/*-stamp
/debian/files
/debian/aeltra-distro-info/
/debian/aeltra-image/
/debian/aeltra-package/
/debian/aeltra-repo-index/
/debian/python3-aeltra-distro-info/
/debian/python3-aeltra-ffi-libarchive/
/debian/python3-aeltra-image-gen/
/debian/python3-aeltra-misc/
/debian/python3-aeltra-package/
/debian/python3-aeltra-repository/
/development.sqlite3
